<div class="container">
    <div class="row title">
        <div class="col-md-6 col-md-offset-3">
            <form ng-submit="postTopic(topic)">
                <input type="text" ng-model="topic.title" class="form-control" placeholder="Topic title" required>
                <br>
                <textarea ng-model="topic.description" class="form-control" placeholder="Topic Description" required></textarea>
                <br>
                <!-- <input type="number" ng-model="topic.fee" class="form-control" placeholder="Fee" required>
                 --><!-- <br> -->
                <input type="text" ng-model="topic.tag" class="form-control" placeholder="Tag" required>
                <br>
                <input type="datetime-local" class="form-control" ng-model="startDate" placeholder="Set Start Date">
                <br>
                <input type="datetime-local" class="form-control" ng-model="endDate" placeholder="Set End Date">
                <br>
                
                <input type="submit" value="Post" class="btn btn-warning">
            </form>
        </div>
    </div>
</div>