<div class="auth-forms title">
  <h2>Register</h2>
  <form ng-submit="register(user)">
    
    <div class="input-group">
      <div class="input-group-addon">
      	<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      </div>
      <input type="name" ng-model="user.name" placeholder="Name" class="form-control" required>
    </div><br>
    
    <div class="input-group">
      <div class="input-group-addon">
      	<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
      </div>
      <input type="email" ng-model="user.email" placeholder="Email" class="form-control" required>
    </div><br>

    <div class="input-group">
      <div class="input-group-addon">
      	<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
      </div>
      <input type="password" ng-model="user.password" placeholder="Password" class="form-control" required>
    </div><br>

    <input type="text" ng-model="user.age" class="form-control" placeholder="Age" required><br>
	<textarea ng-model="user.desc" class="form-control" placeholder="Describe what you do" required></textarea><br>
    <input type="text" ng-model="user.gender" class="form-control" placeholder="Gender" required><br>

    <input type="radio" name="role" class="radio-inline" ng-model="user.role" value="mentor">Mentor
    <input type="radio" name="role" class="radio-inline" ng-model="user.role" value="student">Student<br><br>


    
    <input type="submit" value="Register" class="btn btn-danger">
  </form>
</div>